# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Temp
/Packages

/Local
*.mov

/Extras/backup
/Extras/obj
/Extras/raw

/HoudiniTemp
/Assets/Houdini
/Assets/Houdini.meta
/Assets/HoudiniApi
/Assets/HoudiniApi.meta

/Assets/StreamingAssets/FFmpegOut
/Assets/StreamingAssets/FFmpegOut.meta

/Assets/PostProcessing

/Assets/Room/Private/*.wav
/Assets/Room/Private/*.jpg
/Assets/Room/Private/*.png
