# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Temp
/Packages

/Local
*.mov

/Extras/backup
/Extras/obj

/Assets/StreamingAssets/FFmpegOut
/Assets/StreamingAssets/FFmpegOut.meta

/Assets/Room/Private/*.wav
/Assets/Room/Private/*.jpg
/Assets/Room/Private/*.png
